.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
fieldset{
    border: 0;
}
.formulario{
    max-width: 50%;
    border: 1px solid gray;
    label{
        color: black;
        width: 100%;
        font-size: 14px;
        
    }
}
 

input
{
    height: 56px;
    font-size: 16px;
    border: 1px solid black;

    width: 100%;
    background: white;
    &:focus{
       border-color: #ff5757;
    }
   
    &:first-of-type{
        margin-top: 8px;
        margin-bottom: 24px;
    }
    margin: 8px auto; 
    &[type=button]{
        margin: 24px auto;

        &:hover{
            cursor: pointer;
        }
    
    }
            
     
    
}



.btn-consulta{
    background: #6bb5ff;
    border: none;

}