@use 'variables' as v;
.formulario{
    margin-top: 1.5rem;
    padding: 2rem;

    background: v.$color_contraste;
    border-radius: v.$borde-radio;
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
    transition: background .3s ease;

    fieldset{
        border: none;
        display: grid;
        gap: 1rem;
    }
}


 body{

    .modo-oscuro{

        &input,textarea
        {
            background: #262626;
            color: v.$color-texto;
        }
    }
 }

input, textarea
{
    height: 5.6rem;
    width: 100%;
    border: 1px solid transparent;
    background: #fff;
    border-radius: v.$borde-radio;
    outline: none;
    transition: border v.$transicion1, background v.$transicion1;


    color: black;
    font-size: 1.6rem;
    

    &:focus{
       border-color: #ff5757;
    }
   
    &:first-of-type{
        margin-top: 8px;
        margin-bottom: 24px;
    }
    margin: 8px auto; 
    &[type=button]{
        margin: 24px auto;

        &:hover{
            cursor: pointer;
        }
    
    }
            
     
    
}

label{
    color: black;
}

.btn-primario{
    background: #6bb5ff;
    border: none;

    padding: .9rem;

    border-radius: v.$borde-radio;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background v.$transicion1, transform v.$transicion1;
    &:hover{
        
        background: #52a8ff;
        transform: translateY(-2px);
    }
}

input[type=button]{
    transition: font-weight 0.4s ease;
    &:hover{
        font-weight: bold;
    }
}