//Colores
$color_principal: #FF6B6B;//#6837da;
$color_bg: #232020;
$color_naranja: #ffb56b;
$color_naranja2: #ffdbb8;

$color_contraste: #f6f8fa;


$color-texto: #222;
$color-texto-suave: #555;

$color-fondo: #ffffff;
$color-fondo-contraste: #f6f8fa;

$borde-radio: 0.75rem;

$transicion1: .3s ease;

//Media Queries
$telefono: 480px;
$telefono_vertical: 768px;
$tablet: 834px;
$tablet_vertical: 1024px;
$desktop: 1440px;