@use '../base/mixins' as m;
@use '../base/variables' as v;

.icon{
    height: 2rem;
    width: 2rem;
    transition: transform 0.4s ease, opacity 0.3s ease;
    
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7482%) hue-rotate(100deg) brightness(109%) contrast(99%);
    
}




.navegacion-principal{
    width: 100%;
    height: 4rem;
    background: v.$color_principal;
    height: auto;

    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 1rem;
    a{
     
        color: white;
        transition: color 0.4s ease;
        &:hover{
            color: v.$color_naranja2;
        }
        &:last-child{
            padding-right: 1rem;
        }
    }

    .nombre-pagina{
        display: flex;
        flex-grow: 2;
        align-items: center;
        justify-content: flex-start;
        h2{
            margin: 1.6rem;
        }
    }
    
}

.navegacion__principal
{
    display: flex;
    gap: 1rem;

    a{

        &:last-child{
            margin-right: 1.6rem;
        }
    }
}


.set-modo-oscuro{
    display: flex;
    gap: 1rem;
    background: transparent;
    //border: 1px solid gray;
    //border-radius: 10%;
    margin-right: 1rem;
    height: 3rem;
    align-items: center;

    &:active{
        .icon{
            filter: brightness(0) saturate(100%) invert(71%) sepia(14%) saturate(1509%) hue-rotate(341deg) brightness(105%) contrast(104%);
            transform: rotate(180deg);
            opacity: 0.8;
        }
    }
}



.modo-oscuro{
    background-color: gray;


    .set-modo-oscuro{
        .icon{
            filter: brightness(0) saturate(100%) invert(71%) sepia(14%) saturate(1509%) hue-rotate(341deg) brightness(105%) contrast(104%);
        }
    }

    label{
        color: v.$color_naranja2;
    }
}